*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*
	- The "flex" value of the "display" property will change the element into a block-level flex container.
	- This will make all the child elements become "flexible" that allows them to occupy space enough for the content of an element and at the same time will have the elements appear beside each other.
	- The "flex-wrap" property with the value of "flex" will allow elements that exceed the width of the screen to "wrap" around and be pushed below previous elements in the same block.
	- This prevents elements that exceed the width of the screen to create a horizonal scroll.
*/
.text-center{
	text-align: center;
}
.bg-primary{
	background-color: dodgerblue;
}
.bg-secondary{
	background-color: lightslategray;
}
.text-light{
	color: white;
}
.border{
	border: 1px solid gray;
}
.border-dark{
	border-color: black;
}
.pt-3{
	padding-top: 20px;
}
.pb-3{
	padding-bottom: 20px;
}
/*Bootstrap Grid Classes*/

.row{
	display: flex;
	flex-wrap: wrap;
}

.col-1{
	width: calc(100%/12);
}
.col-2{
	width: calc((100%/12)*2);
}
.col-3{
	width: calc((100%/12)*3);
}
.col-4{
	width: calc((100%/12)*4);
}
.col-5{
	width: calc((100%/12)*5);
}
.col-6{
	width: calc((100%/12)*6);
}
.col-7{
	width: calc((100%/12)*7);
}
.col-8{
	width: calc((100%/12)*8);
}
.col-9{
	width: calc((100%/12)*9);
}
.col-10{
	width: calc((100%/12)*10);
}
.col-11{
	width: calc((100%/12)*11);
}
.col-12{
	width: calc((100%/12)*12);
}

/*
	- You may have the students copy and paste the block of codes and change the column class names used for a faster discussion.
	- The "col-4" class will define the width of one of the element to occupy 4 columns and the "col-8" class will define the width of one element to occupy 8 columns for a total of 12 columns for one row.
	- The "col-3" class will define the width of one of the element to occupy 3 columns and the "col-9" class will define the width of one element to occupy 9 columns for a total of 12 columns for one row.

*/

/*Mobile First Approach*/

/*Small Devices*/
@media(min-width:576px){
	body{
		background-color: lightyellow;
	}
}
/*Medium Devices*/
@media(min-width:768px){
	body{
		background-color: lightgreen;
	}
}
/*Large Devices*/
@media(min-width:992px){
	body{
		background-color: lightblue;
	}
}