*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

nav{
	padding: 1.5rem;
	border-bottom: 1px solid gray;
	position: sticky;
	top: 0;
	position: sticky;
	background-color: white;
}

nav .nav-logo, nav .nav{
	display: inline;
	margin: 0.5rem;


}
.right-nav{
	float: right;
}

.nav-logo, .right-nav{
	padding-left: 3rem;
	padding-right: 3rem;
}

.tuitt-button{
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
	border-color: #c2195b;
}

#bg-image{
	margin-bottom: 15vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-attachment: scroll;
	background-size: 1800px;
	min-height: 50vh;

}	
.front-bg{
	background-color: rgba(1, 1, 1, 0.5);
	min-height: 50vh;
}
.container{
	text-align: right;
	padding-left: 50%;
	padding-right: 5%;
}
.title{
	font-family: "Zilla Slab";
	font-size: 3rem;
	float: right;
	color: white;
	margin-bottom: 1rem;
}
.subtitle{
	color: white;
	font-weight: lighter;
	margin-left: 30%;
	margin-bottom: 1rem;
}
.apply-button{
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
	border-color: #c2195b;
}	

.intro{
	margin-bottom: 15vh;
	padding-left: 15rem;
	padding-right: 15rem;
}
.title-2{
	font-family: "Zilla Slab";
	font-size: 2rem;
	margin-bottom: 3rem;
	text-align: center;
}
.pre-footer{
	background-color: #f7fbfb;
	padding-left: 15rem;
	padding-right: 15rem;
	text-align: center;
	padding-bottom: 5rem;
}
.prefooter-description{
	margin-bottom: 3rem;
}
.book-button{
	background-color: #336589;
	width: 15rem;
	color: white;
	font-weight: bold;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
	border-color: #336589;
}
footer{
	text-align: center;
}