	/*Display Properties
		inline - takes a width enough for its content (elements can be placed side by side)
		inline-block - combination of inline and block element.
		block - take up as much space as they can. (entire width of the webpage) (this element and any element next to it will start a new line)
		none - hides the element and will not be shown visually.
	*/

/*div elements are by block by default*/
#div-1{
	background-color: green;
	display: inline;
}

/*width and height cannot be used in property display:inline*/
#span-1{
	background-color: purple;
	display: inline-block;
	width: 200px;
	height: 200px;
}
#span-2{
	background-color: red;
	display: block;
}
#div-2{
	background-color: hotpink;
	display: none;
}

/*inline-block can set a height and width can appear side by side with other inline elements*/
#img{
	display: inline-block;
	width: 250px;
	height: 250px;
}
#p-1{
	background-color: #87CEFA;
}
#p-2{
	background-color: rgb(255, 105, 180);
	width: 60%;
}
#p-3{
	background-color: limegreen;
	width: 40%;
}
.sample{
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
}
.img-float{
	width: 250px;
	height: 250px;
	float: inherit ; /*	left, right*/

}

.box{
	background-color: darkred;
	color: white;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent{
	width: 50%;
}

.one-hundred-pixels{
	width: 100px;
}

.parent{
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

/*1vw=1%*/
.fifty-vw{
	width: 50vw;

}

/*1vh=1%*/
.twenty-five-vh{
	height: 25vh;

}

/*
	
	rem - based on the root element (HTML)
		1rem = 16px
	em- based on the parent element.
		1 em = set value of the parent element


*/

.one-rem{
	font-size: 1rem;
}
.one-em{
	font-size: 1em;
}
.two-rem{
	font-size: 2rem;
}
.two-em{
	font-size: 2em;
}

/*% is also based on the parent element*/
.two-hundred-percent{
	font-size: 200%;
}


/*CSS Background properties*/
.background{
	min-height: 100vh;
	/*
		background-color - can change the color background. It can takes #hex value or an rgb value.
	*/
	background-color: grey;
	/*background-image: url(URI) - Takes on the path to your image.*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);

	/*
		background-repeat - whether you would like the background to repeat if the width exceeds the background size.
		repeat-x, repeat-y, space, round

	*/
	background-repeat: no-repeat;

	/*
		background-size - specifies the size of the background images.
		one value - auto, contain, cover, pixels or percent declared
		two value - width, height
	*/
	background-size: 100%;

	/*
		background-position - position of the background relative to the HTML element.
		Two values are needed here, X and Y, where X is the amount of offset from the left and Y is the amount of offset from the top.
			left, center, right, top, bottom
			can also use number values % and px
	*/
	background-position: center top;
	background-attachment: scroll;
}

.bg-title{
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
}
.container-bg{
	/*rgba uused for opacity*/
	background-color: rgba(0, 0, 0, 0.5); 
	min-height: 100vh;
}

.parent-element{
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 100%;
}

.child-one{
	background-color: grey;
	padding: 10px;

}
/*
	static default value for elements - positioned according to the normal flow of the document
	relative - remain in the normal flow of the document but with additional properties (left, right, bottom, ro, z-index)
	Absolute - Elements with position: absolute are positioned relative to their parent elements.
	Fixed - Fixed-position elements are similar to absolutely positioned elements. They are also removed from the normal flow of the document. But unlike absolutely positioned elements, they are always positioned relative to the  element.
	Sticky - position: sticky is a mix of position: relative and position: fixed. It acts like a relatively positioned element until a certain scroll point and then it acts like a fixed element.

*/
.child-two{
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
}
.child-three{
	background-color: grey;
	padding: 10px;
}
html{
	height: 800vh;

}

/*z-index*/
.container{
	position: relative;
}

.black-box{
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}
.grey-box{
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.5);
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;

}
.green-box{
	position: absolute;
	z-index: 2;
	background-color: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 100px;
}