/*p tag external styling*/
#external{
	color: yellow;
}
/*universal selector*/
*{
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}
/*type selector*/
h1{
	font-size: 3rem;
}
/*id selector*/
#sub-header{
	text-transform: uppercase;
}
/*class selector*/
.text-green{
	background-color: green;

}
/*attribute selectors*/
li[class ="border-blue"]{
	border-width: 2px;
	border-style: solid;
	border-color: blue;
}
/*adjacent-sibling selector*/
img+ul{
	list-style-type: none;
}
/*descendant selector*/
section>img{
	height: 20vh;
	width: 20vh;
	border-radius: 100px;
}
/*general sibling selector*/
h4~p{
	text-align: center;
}
/*child selector*/
section>ul>li{
	letter-spacing: 10px;
}

